<!-- Bootstrap core JavaScript -->
<script src="/stylesheets/jquery.min.js"></script>
<script src="/stylesheets/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/stylesheets/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="/stylesheets/jqBootstrapValidation.js"></script>
<script src="/stylesheets/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="/stylesheets/agency.min.js"></script>

</body>

</html>