<% include partials/header %>
<section class="section-intro" style="padding: 0 0;">
		<div class="header-intro parallax100 t-center p-t-135 p-b-158" id="dv-bg">
			<span class="tit2 p-l-15 p-r-15" id="donation-title">
				Data Visualization
			</span>
			<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3" id="donation-description">
				ITEMS RATHER THAN MONEY!
			</h3>
		</div>
</section>

	

<!-- first dv -->
<section style="padding:100px;">
	<div class="container-fluid">
		<div class="embed-responsive embed-responsive-16by9" style="height: 80%; margin-top: 100px;">
			<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="https://yxio0009.shinyapps.io/read_more_page1/" allowfullscreen> </iframe>
		</div>
	</div>
</section>


<!-- two column dv -->
<section style="margin-top:0; padding-top:0;">
	<div class="container-fluid" style="height: 80%;">
	  <div class="row">
		<div class="col-md-6 col-lg-6 embed-responsive embed-responsive-16by9">
			<iframe frameborder="1" scrolling="no" class="embed-responsive-item" src="https://yxio0009.shinyapps.io/read_more_page2/" allowfullscreen> 
			</iframe>
		 </div>

		<div class="col-md-6 col-lg-6">
			<!-- <iframe frameborder="1" scrolling="no" class="embed-responsive-item" src="https://yxio0009.shinyapps.io/read_more_page2/" allowfullscreen> 
			</iframe> -->
			<p>
				dskljfldsajflkjadskfjlkadjkljfaklsdjfkahsdkfjahsdjkfhdsjkfhkajsdhfkjasd
				sdjkfhsakdflkasdjlkfjsdaklfjklasdjfkhsdakjfhasjkhfkds
				shdkfhsdkjfhlas
			</p>
		 </div>
	  </div>
	</div>
</section>


	<% include partials/footer %>