<% include partials/header %>
	<!-- 标题 -->
	<header class="masthead donationheader" id="dv-bg">
		<div class="overlay">
		</div>
		<div class="container">
			<div class="intro-text" style="padding-top:10rem;">
				<div class="intro-lead-in" style="font-size:3rem;">
					<strong>Homelessness: Facts and Issues</strong>
				</div>
				<!-- <p class="intro-lead-in d-none d-sm-block" style="color:white; font-size:2.5rem;">
					Items more than money !
				</p> -->
			</div>
		</div>
	</header>

	<section style="padding-top:0.5rem; padding-bottom:100px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-t-30">
					<!-- Block1 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<img src="https://images.unsplash.com/photo-1488539621750-1e0a7ebf61b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="IMG-INTRO">
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<h4 class="txt5 color0-hov trans-0-4 m-b-13">
								Domestic Violence
							</h4>
							<p class="m-b-20" style="text-align:justify">
								Violence is a catalyst for homelessness. Most of this homeless are women and children. And this problem is getting more serious, due to the number of homelessness increased by 24% in 2016-2017. 
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 p-t-30">
					<!-- Block2 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<img src="/stylesheets/img/dv2.JPG" alt="IMG-INTRO">
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<h4 class="txt5 color0-hov trans-0-4 m-b-13">
								Rough Sleeper
							</h4>
							
							<p class="m-b-20" style="text-align:justify">
								The sleeping condition of Homeless people will affect their multiple health problems. WIthin the ABS Census, Rough Sleeper is the prime form of Homeless people. In 2016, there were around 8,200 rough sleepers in Australia.
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 p-t-30">
					<!-- Block3 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<img src="https://images.unsplash.com/photo-1546723827-61625e52043a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="IMG-INTRO">
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<h4 class="txt5 color0-hov trans-0-4 m-b-13">
								Hidden
							</h4>
							
							<p class="m-b-20" style="text-align:justify">
								92% of single homeless people had experienced hidden homelessness. They are ‘invisible’ from support and statistical surveys because of falling to access meaningful assistance or low expectations of homeless support.
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
	</section>

 
	<h3 class="t-center p-l-15 p-r-15 p-t-3 title-font" style="color:black; font-size:200%;">
		Distribution of homeless people by age in 2011 and 2016
	</h3>
	<br>

	<!-- 第一行 -->
	<section style="margin-top:0; padding-top:0; padding-bottom: 100px;">
		<div class="container-fluid" style="height: 80%;">
			<div class="row">
				<div class="col-md-6 col-lg-6 embed-responsive embed-responsive-16by9">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/1.html" allowfullscreen> </iframe>
				</div>
				
				<div class="col-md-6 col-lg-6">
					<p style="text-align:justify">
						<br> Homelessness strikes to wide demography of people. There is no fixed age of homelessness. There are numerous reasons for becoming homeless. Often it is because of domestic violence, verbal or physical abuse, bankruptcy, eviction notice for not being able to pay the rent etc. The adjacent graph has been created from the dataset released by the <strong>Australian Bureau of Statistics in 2016</strong>. It shows the number of homeless people lying in different range.
						<br/>
						<br/> From the graph, it can be clearly stated that more than 5000 people from 25-34 years of age accounted for homelessness in 2016. The number increased by around 1000 from 2011. In addition, children of age less than 12 accounted for the second-largest group of homeless people. Around 3500 kids were found to be homeless in 2016. On the contrary, senior citizens of age 75 and above accounted suffered less homelessness. The difference in homelessness from 2011 and 2016 is less significant when considering the people from 35 – 75 years of age. Strongs measures need to be taken to provide support to the kids and youth of Victoria since they are the ones who have great potential in shaping the future.

					</p>
				</div>

			</div>
		</div>
	</section>
	<h3 class="t-center p-l-15 p-r-15 p-t-3 title-font" style="color:black; font-size:200%;">
		Distribution of homeless women and men in different accommodations
	</h3>
	<br>

	<!-- 第2行 -->
	<section style="margin-top:0; padding-top:0;">
		<div class="container-fluid" style="height: 80%;">
			<div class="row">
				<div class="col-md-6 col-lg-6 embed-responsive embed-responsive-16by9">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/3.html" allowfullscreen> 
					</iframe>
				</div>

				<div class="col-md-6 col-lg-6">
					<p style="text-align:justify">
						<br> The adjacent graph has been created based on data created by the <strong>Australian Bureau of Statistics in 2016</strong>. It shows the number of homeless men and women living in different accommodations. From the adjacent graph, it can be clearly derived that the ‘Severely Crowded Dwellings’ which usually includes a house with 3 rooms are mostly accommodated by men than women. On the contrary, women have seemed to receive a fairly large amount of support by the government in terms of accommodation than men. Other kinds of accommodations like living temporarily with others, boarding houses, temporary lodgings etc. are mostly occupied by men rather than women.
						<br/>
						<br/> This picture overall shows that men are mostly affected by homelessness than women. It also shows that homeless women also receive a good amount of support by the government or by the organizations who provide accommodations. Therefore, significant steps must be taken to ensure that men and women are provided a fair amount of support by the government and the NGOs
					</p>
				</div>
			</div>
		</div>
	</section>	

	<!-- 第3行 -->
	<h3 class="t-center p-l-15 p-r-15 p-t-3 title-font" style="color:black; font-size:200%;">
			Distribution of Homeless People Based on their Accommodation 2011 - 2016 
	</h3>
	<br>

	<section id="dv3-section">
		<div class="container-fluid" style="height: 80%; padding-botton:50px;">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<img src="/stylesheets/dv2.png" class="z-depth-1" alt="Responsive image" style=" width:100%;">

				</div>
				<div class="col-md-2 col-lg-2">
					
				</div>
				<div class="col-md-8 col-lg-8">
					<p style="text-align:justify">
						 Homeless people are divided into different operational groups based on their condition of living. The graph above has been derived from the data created by the <strong>Australian Bureau of Statistics in 2016</strong>.  It shows the number of homeless people living in different types of accommodation and their transition from 2011 – 2016.
						<br/>
						<br/> From the graph above it can be clearly seen that the dwellings which are usually crowded had a significant increase in the number of homeless people from 7840 to 8930 in 2016. Although fewer people have been provided with accommodation by the Government in 2016 as compared to the number of people in 2011. Additionally, 473 more homeless people were witnessed to be living in boarding houses in 2016 as compared to 2011. Accommodations in Temporary Lodgings and Improvised Dwellings (Living in Tents, living on the Streets) remained the same.
					</p>
				</div>
				<div class="col-md-2 col-lg-2">
					
				</div>
			</div>
		</div>
	</section>

	<div id="back-btn">
		<a href="/#services">
			<button class="btn btn-outline-danger" data-dismiss="modal" type="button">
				Start Donate or Volunteer!	
			</button>
		</a>
	</div>

<% include partials/footer %>