<% include partials/header %>
	<!-- 标题 -->
	<section class="section-intro" style="padding: 0 0; margin-bottom:20px;">
		<div class="header-intro parallax100 t-center p-t-135 p-b-158" id="dv-bg">
			<span class="tit2 p-l-15 p-r-15" id="donation-title" style="color:white;">
				Data Visualization
			</span>
		</div>
	</section>

	<section style="padding-top:0.5rem;">
		<div class="container-fluid">
			<h2 class="text-center">
				Text Description
			</h2>
			<div class="row">
				<div class="col-md-4 p-t-30">
					<!-- Block1 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<a href="#">
								<img src="/stylesheets/img/dv2.jpeg" alt="IMG-INTRO">
							</a>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a href="#">
								<h4 class="txt5 color0-hov trans-0-4 m-b-13">
									Domestic and family violence
								</h4>
							</a>

							<p class="m-b-20">
								Violence is a catalyst for Homelessness, most of this homeless  are women and children. And this problem is getting more serious because of the number of reports increased by 24% in 2016-2017. 

							</p>

						</div>
					</div>
				</div>

				<div class="col-md-4 p-t-30">
					<!-- Block2 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<a href="#">
								<img src="/stylesheets/img/dv1.jpeg" alt="IMG-INTRO">
							</a>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a href="#">
								<h4 class="txt5 color0-hov trans-0-4 m-b-13">
									Rough Sleeper
								</h4>
							</a>

							<p class="m-b-20"><br>
								The sleeping condition of Homeless people, will directly affect their multiple health problems. WIthin the ABS Census, Rough Sleeper is the prime form of Homeless people. ABS Category them as ‘Persons living in improvised dwellings, tents, or sleeping out’. In 2016, there were around 8,200 rough sleepers in Australia.

							</p>

						</div>
					</div>
				</div>

				<div class="col-md-4 p-t-30">
					<!-- Block3 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<a href="#">
								<img src="/stylesheets/img/dv3.jpeg" alt="IMG-INTRO">
							</a>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a href="#">
								<h4 class="txt5 color0-hov trans-0-4 m-b-13">
									Hidden
								</h4>
							</a>

							<p class="m-b-20"><br>
								62% of respondents were hidden homeless on the day they were surveyed and 92% had experienced hidden homelessness (source: The hidden truth about homelessness, 2011).

							</p>

							
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
	</section>

	<!-- first dv -->
	<!-- <section style="padding:100px;">
	<div class="container-fluid">
		<div class="embed-responsive embed-responsive-16by9" style="height: 80%; margin-top: 100px;">
			<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="https://yxio0009.shinyapps.io/read_more_page1/" allowfullscreen> </iframe>
		</div>
	</div>
</section> -->

	<!-- 第一行 -->
	<section style="margin-top:0; padding-top:0;">
		<div class="container-fluid" style="height: 80%;">
			<div class="row">
				<div class="col-md-6 col-lg-6 embed-responsive embed-responsive-16by9">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/1.html" allowfullscreen> </iframe>
				</div>

				<div class="col-md-6 col-lg-6 embed-responsive embed-responsive-16by9">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/2.html" allowfullscreen> </iframe>
				</div>

			</div>
		</div>
	</section>

	<!-- 第二行 -->
	<section style="margin-top:0; padding-top:0;">
		<div class="container-fluid" style="height: 80%;">
			<div class="row">
				<div class="col-md-6 col-lg-6 embed-responsive embed-responsive-16by9">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/3.html" allowfullscreen> </iframe>
				</div>

				<div class="col-md-6 col-lg-6">
					<p>
						<br>
						<br> Homeless people are divided into different operational group according to their condition of living. From the left graph, 36% percentage of homeless people living in "severely" crowded dwellings, which operationalised as living in a dwelling requiring
						4 or more bedrooms to accommodate people. They are marginally housed and need more space for social relations.
						<br/>
						<br/> We usually see homeless sleeping in improvised dwellings, tents or even on the street. From left graph, we find this kind of homeless are only 4.5% and most of homeless have space to live with organization help. What volunteers and organizations
						can help is to improve their living conditions or improve their working experience to find a job.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- 第三行 -->
	<section style="margin-top:0; padding-top:0;">
		<div class="container-fluid" style="height: 80%;">
			<div class="row">
				<div class="col-md-6 col-lg-6 embed-responsive embed-responsive-16by9">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/4.html" allowfullscreen> </iframe>
				</div>

				<div class="col-md-6 col-lg-6">
					<p>
						<br>
						<br> For children homeless, total number of male is more than that of female. However, when the age is larger than 34, total number of female homeless is much more than that of male homeless, specially when the age is over 75,female are 19,946 than
						male. In the gender graph above, the percentage of female and male is almost half, which means the total number of female homeless is similar to that of male homeless and the difference is their distribution on age group.
						<br/>
						<br/> The whole trend of age group for female and male is the same. The age group of "under 12" and "25-34" are the most groups having highest number of homeless. The problem for this two age group is also severe and they need more help from organizations
						and volunteers.

					</p>
				</div>
			</div>
		</div>
	</section>

	<% include partials/footer %>