<% include partials/header %>
	<!-- video header -->
	<header class="masthead" id="header-bg">
		<div class="overlay"></div>
		<!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="/stylesheets/waves.mp4" type="video/mp4">
		</video> -->
		<div class="container">
			<div class="intro-text">
				<!-- <div class="intro-lead-in">Helping The Homeless</div> -->
				<div class="intro-heading text-uppercase">Let's support Homeless!</div>
				<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#welcome">Get Started</a>
			</div>
		</div>
	</header>

	<!-- Welcome section -->
	<section class="section-welcome bg1-pattern p-t-120 p-b-105" id="welcome">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
							Help Homelessness
						</span>
						<h3 class="tit3 t-center m-b-35 m-t-5">
							Voices
						</h3>
						<div>
							<a class="btn btn-info text-uppercase js-scroll-trigger" href="/homelessdv" style="font-size: 1.2rem;">Facts and Issues</a>
							<br/>
						</div>
						<br/>
						<div>
							<a class="btn btn-info text-uppercase js-scroll-trigger" href="/volunteers" style="font-size: 1.2rem;">Volunteer</a>
							<br/>
						</div>
						<br/>
						<div>
							<a class="btn btn-info text-uppercase js-scroll-trigger" href="/donations" style="font-size: 1.2rem;">Donation</a>
							<br/>
						</div>
						
					</div>
				</div>
				<div class="col-md-6 p-b-30" style="height:150px;">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto" id="welcome-image">
						<img src="/stylesheets/img/hello1.jpg" alt="IMG-OUR">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Donation section -->
	<section class="section-intro" id="services">
		<div class="header-intro parallax100 t-center p-t-135 p-b-158" id="donation-bg">
			<span class="tit2 p-l-15 p-r-15" id="donation-title">
				Donate
			</span>
			<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3" id="donation-description">
				ITEMS RATHER THAN MONEY!
			</h3>
		</div>

		<div class="content-intro bg-white p-t-77 p-b-133" id="services1">
			<div class="container">
				<div class="row">
					<div class="col-md-4 p-t-30">
						<!-- Block1 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<img src="https://images.unsplash.com/photo-1523212727988-82c430c79c8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="IMG-INTRO">
								
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<h4 class="txt5 color0-hov trans-0-4 m-b-13 text-center">
									Clothes
								</h4>
							</div>
						</div>
					</div>

					<div class="col-md-4 p-t-30">
						<!-- Block2 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								
								<img src="https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="IMG-INTRO">
								
							</div>

							<div class="wrap-text-blo1 p-t-35">
									<h4 class="txt5 color0-hov trans-0-4 m-b-13 text-center">
										Food
									</h4>
							</div>
						</div>
					</div>

					<div class="col-md-4 p-t-30">
						<!-- Block3 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								
								<img src="https://images.unsplash.com/photo-1554123169-b1169722ad2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="IMG-INTRO">
								
							</div>

							<div class="wrap-text-blo1 p-t-35">
									<h4 class="txt5 color0-hov trans-0-4 m-b-13 text-center">
										Books
									</h4>
							</div>
						</div>
					</div>
				</div>
				<div style="text-align:center; margin-top:3rem; text-center">
					<a href="/donations">
						<button class="btn btn-primary" data-dismiss="modal" type="button">
							Donate Now	
						</button>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- News section -->
	<section class="bg-light page-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase" id="news-title">Latest News</h2>
					<h3 class="section-subheading text-muted">Things happening in Victoria</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11432398-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
							<h4>The street doctors helping Melbourne's homeless from a kitted-out minivan</h4>
						</a>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11294592-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
						<h4>Homelessness centre VincentCare’s revamped Ozanam House offers new approach</h4>
						</a>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://sl.sbs.com.au/public/image/file/2c07f7f9-dd87-464f-b9a7-74184628fbfb" alt="">
					</a>
					<div class="portfolio-caption">
						<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
						<h4>'Tiny homes' a potential solution to help get homeless people off the streets</h4>
						</a>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11256912-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
						<h4>Homeless and emergency housing stretched to double in freezing Victorian city</h4>
						</a>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/10316818-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
						<h4>Homeless man sleeping in skip bin ‘lucky to be alive’ after being dumped in garbage bin</h4>
						</a>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/219022-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
						<h4>From hospital to homeless: Victoria’s mental health system fails the most vulnerable</h4>
						</a>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
			</div>
		</div>
	</section>


<!-- map section -->
	<section style="padding:100px;" id="map-dv">
		<div class="container-fluid">
			<div>
				<h2 class="text-center" id="map-title">
					Distribution of the homeless people in Victoria
				</h2> 
				<p class="text-center" id="map-description" style="padding-bottom:10px;">
					The following heat map has been designed with the help of census data released by the Australia Bureau of Statistics in 2016.
				</p>
				<p class="text-center" id="map-description">
					Find the number of homeless poeple in your suburb!
				</p>
			</div>
			<div class="row">
				<div class="embed-responsive embed-responsive-16by9" style="height: 80%; margin-top: 40px;">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/top10.html" allowfullscreen> </iframe>
				</div>
			</div>
			<div class="row">
				<div class="embed-responsive embed-responsive-16by9" style="height: 80%; margin-top: 40px;">
					<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/vicmap.html" allowfullscreen> </iframe>
				</div>
			</div>
			<div style="text-align:center; margin-top:3rem;">
				<a href="/homelessdv">
					<button class="btn btn-primary" data-dismiss="modal" type="button">
						Explore More	
					</button>
				</a>
			</div>
		</div>
	</section>
	

	<!-- subscribe section -->
	<section id="signup" class="signup-section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8 mx-auto text-center">

					<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
					<h2 class="text-white mb-5" id="subscribe-title">Subscribe to receive updates!</h2>
					<form class="form-inline d-flex">
						<input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
						<button type="submit" class="btn btn-primary btn-lg mx-auto" id="subscribe-btn">Subscribe
						</button>
					</form>

				</div>
			</div>
		</div>
	</section>

	

	<!-- News Modals -->
	<!-- News 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">This winter brought with it a particularly brutal flu season.</h2>
								<p class="item-intro text-muted">PHOTO: David speaks to the nurse and social worker. This is the first time he's accessed the service, and says he'd definitely use it again. (ABC RN: Fiona Pepper)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/11428308-3x2-700x467.jpg" alt="">
								<p class="text-left">If you were one of the fortunate ones, you got some medication, stayed in bed for a couple of days and recovered.<br/><br/>

But for those who live on the streets, it's an entirely different reality.
								Medical clinics can be intimidating and expensive places, and medication costs are often beyond the reach of those living rough. Left untreated, sickness can quickly become acute.<br/>But in Melbourne, there's a glimmer of hope.<br/><br/>

Every Wednesday for the past 18 months, Cohealth's Street Doctor program has provided free medical services to homeless patients.<br/><br/>

GP Kate Coles and nurse Vaan Phongsavan have treated more than 200 homeless patients from their mobile surgery — a kitted-out minivan.<br/><br/>

"Some of our homeless clients have problems with transport, have difficulties to get to an appointment on time, so by being there for them, we actually remove a lot of barriers," Dr Coles says.</p>
								<ul class="list-inline">
									<li>Date: 26/08/2019</li>
									<li>By Fiona Pepper and Skye Docherty</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Australia’s largest homelessness centre offers new approach</h2>
								<p class="item-intro text-muted">Luke Michael</p>
								<img class="img-fluid d-block mx-auto" src="https://probonoaustralia.com.au/wp-content/uploads/2018/02/homeless-boy-cardboard-house-770-RS.jpg" alt="">
								<p class="text-left">Victorians experiencing homelessness will have access to accommodation, health services, a tech hub, a gym and financial counselling with the opening of a $47 million support centre.<br/><br/>
								VincentCare’s revamped Ozanam House is Australia’s largest accommodation centre for rough sleepers, offering 134 rooms and apartments specially designed to support people’s recovery from homelessness.<br/><br/>
								Quinn Pawson, the CEO of VincentCare, said the opening of the 10-storey centre last Friday would transform the response to homelessness in Australia.<br/><br/>
								“This new approach will allow us to assist more people than ever before,” Pawson said.

“We will support people to make lasting and sustainable changes to their lives, whether that be accessing training and education, reconnecting with family and community, improving their health or finding secure housing.”<br/><br/>
									The North Melbourne facility will cater for up to 250 people a day, offering health services – including Victoria’s only homelessness-specific dentist – a tech hub with free Wi-Fi and computers, a gym, café, library and amenities such as showers and a laundry.

Case management support and personal and financial counselling will also be provided.
								</p>
								<ul class="list-inline">
									<li>Date: 1st July 2019</li>
									<li>Client: Explore</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">'Tiny homes' a potential solution to help get homeless people off the streets</h2>
								<p class="item-intro text-muted">PHOTO: EyeEm. A homeless man sits on the streets. A new Melbourne project is aiming to break the cycle.</p>
								<img class="img-fluid d-block mx-auto" src="https://sl.sbs.com.au/public/image/file/d6798faa-bc14-482d-8c7a-04e25ff6addd" alt="">
								<p class="text-left">A new Melbourne-based project is aiming to break the cycle of chronic homelessness by using otherwise vacant government land to build "tiny homes".<br/><br/>
								Independent community agency Launch Housing is behind the idea which has already seen six tiny homes built in Melbourne's inner west on unused government land. <br/><br/>
								Melbourne woman Deborah said moving into a tiny home had allowed her to get back on her feet and find stability.<br/><br/>
								"I've been homeless since I was 14. I went to school one Wednesday morning, 28th July 1982, and the last thing my mum ever said was "goodbye sweetie, have a nice day". And I never went home again," she told SBS News.<br/><br/>
								</p>
								<ul class="list-inline">
									<li>13/08/2019</li>
									<li>By Rhiana Whitson</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 4 -->
	<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Homeless and emergency housing stretched to double its capacity in freezing Victorian city</h2>
								<p class="item-intro text-muted">PHOTO: A tight rental market and the rising cost of living is stretching homelessness services. (Unsplash: Jon Tyson)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/11249478-3x2-700x467.jpg" alt="">
								<p class="text-left">Tightening rental markets have increased pressure on housing services, with Uniting Ballarat's frontline services reaching nearly double their budgeted capacity.
								<br/><br/>
								The housing and support services organisation's Warrick Davison said demand on their services had put pressure on the whole organisation, and demand was higher than ever.<br/><br/>
								"I've been here 15 years and I haven't seen demand like it before," he said.<br/><br/>
								"We operate as the key entry point to the homelessness system, so essentially we're seeing people, anyone who is going to access a housing or homelessness service."<br/><br/>
								</p>
								<ul class="list-inline">
									<li>15/08/2019</li>
									<li>By Emily Piesse</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 5 -->
	<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Homeless man sleeping in skip bin ‘lucky to be alive’ after being dumped in garbage bin</h2>
								<p class="item-intro text-muted">Authorities say a man is lucky to be alive after being picked up in a garbage truck.Source:Supplied</p>
								<img class="img-fluid d-block mx-auto" src="https://cdn.newsapi.com.au/image/v1/ce2fc38eb8ddfa356f44acf98f5ee447?width=650" alt="">
								<p class="text-left">
									TA man is lucky to be alive after falling asleep in a skip bin that was dumped into a rubbish truck with him inside on Friday morning.<br/><br/>
									Rescue authorities described the bizarre situation as a “first for us” and claimed the outcome could have been very different if the driver had compacted the garbage.<br/><br/>
									“He is absolutely lucky to be alive, he could have been knocked out, he would’ve been squashed no doubt,” Kerang Country Fire Authority captain Ramon Steel told news.com.au.<br/><br/>
									The man, who is believed to be homeless and in his mid-thirties, was rescued after the driver of the truck heard him screaming for help inside.

The man had fallen asleep in an industrial skip bin at a St Vincent De Paul’s op shop in Kerang, a rural town on the Loddon River in northern Victoria in Australia, when the garbage truck emptied the bin about 7.40am.<br/><br/>
									The truck travelled about 200 metres down the road when the driver heard the man’s screams.

“The driver went to one location to pick up the skip bin, emptied it into his truck, then drove to another location and heard the gentleman screaming,” Mr Steel told news.com.au.

“If the driver had’ve compacted the garbage we would have a different outcome.”

</p>
								<ul class="list-inline">
									<li>Date: MAY 17, 2019</li>
									<li>By Matt Young</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 6 -->
	<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">People experiencing homelessness and poor mental health are among Australia’s most vulnerable citizens, RMIT experts say.</h2>
								<p class="item-intro text-muted">Akemi, a Launch Housing tenant who is living with a mental illness, says accessing mental health services while he was experiencing homelessness was virtually impossible. Image: Author provided</p>
								<img class="img-fluid d-block mx-auto" src="https://www.rmit.edu.au/content/dam/rmit/rmit-images/news/2019/july/hospital-to-homeless/news_hospital_homeless_04.jpg" alt="">
								<p class="text-left">Without secure housing and an accessible mental healthcare system, recovery from mental illness is seriously compromised.

And the upcoming Royal Commission into Victoria’s Mental Health System will be judged by how it responds to this crisis of mental health and housing.<br/><br/>
								In recent weeks, we conducted a census of data from the Melbourne-based community agency, Launch Housing, and found 44% of the 2,023 clients were experiencing mental illness. Only half of these clients were receiving support from a mental health service.<br/><br/>
								Our interviews with these clients show how the Victorian mental health system repeatedly fails this group. Without exception, these clients emphasised the significance of safe and long-term housing to mental health stability and recovery.<br/><br/>
								"You’re homeless and that’s the most important thing […] your mental state, it’s just got to be put on hold […] you don’t want to go and see anybody about your mental state because you need housing and that’s all you’re really concentrating on: where am I going to sleep tonight?"<br/><br/>
								In Victoria, for instance, more than 500 people are being discharged from acute mental healthcare each year into rooming houses, motels and other forms of homelessness. And discharging someone into homelessness is unacceptable.<br/><br/>
								</p>
								<ul class="list-inline">
									<li>12 July 2019</li>
									<li>By Emeritus Professor Tony Dalton, Dr Andrew Hollows</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include partials/footer %>