<% include partials/header %>
	<!-- video header -->
	<header class="masthead">
		<div class="overlay"></div>
		<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="/stylesheets/waves.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="intro-text">
				<div class="intro-lead-in">Helping The Homeless</div>
				<div class="intro-heading text-uppercase">Everyone deserves a HOME</div>
				<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Get Started</a>
			</div>
		</div>
	</header>

	<!-- Welcome section -->
	<section class="section-welcome bg1-pattern p-t-120 p-b-105" id="welcome">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
							Help Homelessness
						</span>
						<h3 class="tit3 t-center m-b-35 m-t-5">
							Voices
						</h3>
						<p class="t-center m-b-22 size3 m-l-r-auto">
							Helping people to get on top of day-to-day issues – not just while they are in crisis but throughout their lives – goes a long way towards breaking the cycle of homelessness.
						</p>
						<a href="about.html" class="txt4">
							Our Story
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto" id="welcome-image">
						<img src="/stylesheets/img/hello1.jpg" alt="IMG-OUR">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Donation section -->
	<section class="section-intro" id="services">
		<div class="header-intro parallax100 t-center p-t-135 p-b-158" id="donation-bg">
			<span class="tit2 p-l-15 p-r-15" id="donation-title">
				Donate
			</span>
			<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3" id="donation-description">
				ITEMS RATHER THAN MONEY!
			</h3>
		</div>

		<div class="content-intro bg-white p-t-77 p-b-133">
			<div class="container">
				<div class="row">
					<div class="col-md-4 p-t-30">
						<!-- Block1 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<a href="#">
									<img src="/stylesheets/img/donate1.jpg" alt="IMG-INTRO">
								</a>
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<a href="#">
									<h4 class="txt5 color0-hov trans-0-4 m-b-13">
										Useless Clothes
									</h4>
								</a>

								<p class="m-b-20">
									Your useless clothes will help them from extreme weather.
								</p>

								<a href="#" class="txt4">
									Learn More
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 p-t-30">
						<!-- Block2 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<a href="#">
									<img src="/stylesheets/img/donate2.jpg" alt="IMG-INTRO">
								</a>
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<a href="#">
									<h4 class="txt5 color0-hov trans-0-4 m-b-13">
										Delicious Food
									</h4>
								</a>

								<p class="m-b-20">
									Your delicious food will help them from hungry and disease.
								</p>

								<a href="#" class="txt4">
									Learn More
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 p-t-30">
						<!-- Block3 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<a href="#">
									<img src="/stylesheets/img/donate3.jpg" alt="IMG-INTRO">
								</a>
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<a href="#">
									<h4 class="txt5 color0-hov trans-0-4 m-b-13">
										Education books
									</h4>
								</a>

								<p class="m-b-20">
									Your education book will help them from ignorance.
								</p>

								<a href="#" class="txt4">
									Learn More
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- News section -->
	<section class="bg-light page-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase" id="news-title">Homelessness News</h2>
					<h3 class="section-subheading text-muted">Things happened around you</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11432398-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>The street doctors helping Melbourne's homeless from a kitted-out minivan</h4>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11304140-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Homeless people failed by the commonwealth funding model, experts nationally say</h4>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11410030-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Liberal Speaker Sue Hickey calls for Housing Tasmania to be restructured</h4>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11411422-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Homelessness hits growing number of West Australians over the age of 65</h4>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/11439752-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Adelaide women launch business TABOO helping fight period poverty in Africa and locally</h4>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fas fa-book-reader"></i>
							</div>
						</div>
						<img class="img-fluid" src="https://www.abc.net.au/news/image/5678330-3x2-700x467.jpg" alt="">
					</a>
					<div class="portfolio-caption">
						<h4>Homelessness 'duty to assist' law could force government to help those in crisis</h4>
						<!-- <p class="text-muted">consice description</p> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Volunteer section -->
	<section class="page-section" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase" id="volunteer-title">Volunteer</h2>
					<h3 class="section-subheading text-muted">Start volunteering today!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="rounded-circle img-fluid" src="/stylesheets/img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2019-2020</h4>
									<h4 class="subheading">Our Beginnings</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="rounded-circle img-fluid" src="/stylesheets/img/about/2.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2019-2020</h4>
									<h4 class="subheading">Volunteer title</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="rounded-circle img-fluid" src="/stylesheets/img/about/3.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2019-2020</h4>
									<h4 class="subheading">Volunteer title</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="rounded-circle img-fluid" src="/stylesheets/img/about/4.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2019-2020</h4>
									<h4 class="subheading">Volunteer title</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>Be Part
									<br>Of Our
									<br>Story!</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

<!-- map section -->
	<section style="padding:100px;" id="map-dv">
	<div class="container-fluid">
		<div>
			<h2 class="text-center" id="map-title">
				Distribution of the homeless people in Victoria
			</h2>
			<p class="text-center" id="map-description">
				Find the number of homeless poeple in your suburb!
			</p>
		</div>
		<div class="embed-responsive embed-responsive-16by9" style="height: 80%; margin-top: 40px;">
			<iframe frameborder="1" border="4" scrolling="no" class="embed-responsive-item" src="/stylesheets/vicmap.html" allowfullscreen> </iframe>
		</div>
		<div style="text-align:center; margin-top:3rem;">
			<a href="/homelessdv" class="btn btn-secondary btn-lg mx-auto">
			Explore More	
			</a>
		</div>
		
	</div>
</section>


	<!-- Team section -->
	<section class="bg-light page-section" id="team">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading text-uppercase" id="team-title">Our Amazing Team</h2>
					<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="/stylesheets/img/team/ED.jpeg" alt="">
						<h4>Ed</h4>
						<p class="text-muted">Lead Designer</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="/stylesheets/img/team/Yaling.jpeg" alt="">
						<h4>Yaling Xiong</h4>
						<p class="text-muted">Lead Data Scientist</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="/stylesheets/img/team/Lucas.jpeg" alt="">
						<h4>PeiRu Liu</h4>
						<p class="text-muted">Lead Manager</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="/stylesheets/img/team/Andrew.jpeg" alt="">
						<h4>Junyan Wang</h4>
						<p class="text-muted">Lead Programmer</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<!-- <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p> -->
				</div>
			</div>
		</div>
	</section>

	<!-- subscribe section -->
	<section id="signup" class="signup-section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8 mx-auto text-center">

					<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
					<h2 class="text-white mb-5" id="subscribe-title">Subscribe to receive updates!</h2>
					<form class="form-inline d-flex">
						<input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
						<button type="submit" class="btn btn-primary btn-lg mx-auto" id="subscribe-btn">Subscribe
						</button>
					</form>

				</div>
			</div>
		</div>
	</section>

	<!-- Footer section -->
	<footer class="footer" id="contact">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy; IE C25</span>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li class="list-inline-item">
							<a href="#">Privacy Policy</a>
						</li>
						<li class="list-inline-item">
							<a href="#">Terms of Use</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- News Modals -->
	<!-- News 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">This winter brought with it a particularly brutal flu season.</h2>
								<p class="item-intro text-muted">PHOTO: David speaks to the nurse and social worker. This is the first time he's accessed the service, and says he'd definitely use it again. (ABC RN: Fiona Pepper)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/11428308-3x2-700x467.jpg" alt="">
								<p class="text-left">If you were one of the fortunate ones, you got some medication, stayed in bed for a couple of days and recovered.<br/><br/>

But for those who live on the streets, it's an entirely different reality.
								Medical clinics can be intimidating and expensive places, and medication costs are often beyond the reach of those living rough. Left untreated, sickness can quickly become acute.<br/>But in Melbourne, there's a glimmer of hope.<br/><br/>

Every Wednesday for the past 18 months, Cohealth's Street Doctor program has provided free medical services to homeless patients.<br/><br/>

GP Kate Coles and nurse Vaan Phongsavan have treated more than 200 homeless patients from their mobile surgery — a kitted-out minivan.<br/><br/>

"Some of our homeless clients have problems with transport, have difficulties to get to an appointment on time, so by being there for them, we actually remove a lot of barriers," Dr Coles says.</p>
								<ul class="list-inline">
									<li>Date: 26/08/2019</li>
									<li>By Fiona Pepper and Skye Docherty</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Homeless people failed by the commonwealth funding model, experts nationally say</h2>
								<p class="item-intro text-muted">PHOTO: Carlos Hernandez lives on the street in Darwin (ABC News: Sowaibah Hanifie)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/11307696-3x2-700x467.jpg" alt="">
								<p class="text-left">The Federal Government's homelessness funding structure is not meeting the demands of areas with highest needs, social support organisations have argued.<br/><br/>
								The Northern Territory has the lowest population of Australia's six states and territories but has consistently had the highest rates of homelessness in the country for over a decade, according to figures from the Australian Bureau of Statistics.<br/><br/>
								Despite this, it has received the least amount of funding support from the Commonwealth.<br/><br/>
								Frontline services have said people are being turned away because funding under the National Housing and Homelessness Agreement (NHHA) is distributed to states according to population size, rather than need.<br/><br/>
								4,494 people needing support in the Northern Territory were turned away in the year 2017-18, according to the Australian Institute of Health and Welfare.<br/><br/>
								</p>
								<ul class="list-inline">
									<li>Date: January 2017</li>
									<li>Client: Explore</li>
									<li>Category: Graphic Design</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Liberal Speaker Sue Hickey calls for Housing Tasmania to be restructured and downsized</h2>
								<p class="item-intro text-muted">PHOTO: Liberal Sue Hickey is unafraid of breaking ranks with her party. (ABC News: David Hudspeth)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/11410030-3x2-700x467.jpg" alt="">
								<p class="text-left">The Liberal Speaker Sue Hickey has accused the state's public housing provider of prejudice, failing its vulnerable tenants and of being an unfit landlord.<br/><br/>
								In a last minute submission to the Tasmanian Parliament's housing affordability inquiry, Ms Hickey — who since being elected in March last year has proven to be a regular thorn in her party's side — said Housing Tasmania had forgotten the "human element" of providing public housing resulting in people being treated poorly.<br/><br/>
								"Prejudice it appears has crept into the Housing Tasmania organisation whose culture is one of compliance above humanity, compassion and solutions," she said.<br/><br/>
								Ms Hickey said Housing Tasmania, the state's public housing agency, should be completely restructured and downsized, saying "it does not deliver efficiently the services that it should".<br/><br/>
								</p>
								<ul class="list-inline">
									<li>13/08/2019</li>
									<li>By Rhiana Whitson</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 4 -->
	<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Homelessness hits growing number of West Australians over the age of 65</h2>
								<p class="item-intro text-muted">PHOTO: Perth woman Wendy Morris moved 11 times in 22 years. (ABC News: Emily Piesse)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/8764270-3x2-700x467.jpg" alt="">
								<p class="text-left">Wendy Morris has been many things in her life: a school librarian, a mother of four, a recreational opera singer and a volunteer wildlife carer.<br/><br/>She has also been homeless due to myriad life events, which left her exposed to the vagaries of the private rental market.
								The 71-year-old has lived in a granny flat in the Perth Hills suburb of Walliston for the past two years.<br/><br/>
								When she arrived, it was her 11th move in 22 years.<br/><br/>
								"It is physically and emotionally taxing … it's dreadful, financially," Ms Morris said of the constant relocation.<br/><br/>
								</p>
								<ul class="list-inline">
									<li>15/08/2019</li>
									<li>By Emily Piesse</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 5 -->
	<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">These women have started an Australian business selling pads and tampons to fight period poverty</h2>
								<p class="item-intro text-muted">PHOTO: TABOO Sanitary Products owners Isobel Marshall and Eloise Hall. (ABC News: Brittany Evins)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/11439966-3x2-700x467.jpg" alt="">
								<p class="text-left">Two young South Australian entrepreneurs have launched their own social enterprise selling sanitary products whose profits will go to disadvantaged women fighting period poverty around the world.<br/><br/>The products sold and distributed in Australia will raise money for One Girl — a Melbourne-based charity that educates and gives women and girls in Africa access to pads and tampons.<br/><br/>Eloise Hall, 20, and Isobel Marshall, 21, created their not-for-profit online social enterprise called TABOO two-and-a-half years ago with little expectation, in between their studies.<br/><br/>"We spent a lot of time researching what organisations exist that support women in menstrual health care and last year we travelled to Kenya and India to shadow some pre-existing organisations and see how they are sustainably tackling the issue," Ms Hall said.<br/><br/>

</p>
								<ul class="list-inline">
									<li>Date: 23/08/2019</li>
									<li>By Brittany Evins</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News 6 -->
	<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mx-auto">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2 class="text-uppercase">Homelessness 'duty to assist' law could force government to help those in crisis</h2>
								<p class="item-intro text-muted">PHOTO: The number of homeless Australians has spiked in recent years. (ABC News)</p>
								<img class="img-fluid d-block mx-auto" src="https://www.abc.net.au/news/image/10317104-3x2-700x467.jpg" alt="">
								<p class="text-left">Australian authorities are being urged to consider a new "duty to assist" law that would force governments to help homeless people find accommodation, amid warnings homelessness is spiralling out of control and funding is drying up.<br/><br/>
								In 2015, politicians in Wales became the first to legislate a requirement for governments to act, and the idea is now being trialled in Canada.<br/><br/>
								Peter Mackie is a global expert in homelessness who is visiting from Wales to champion the idea and talk to experts in Australia.<br/><br/>
								He said in most Western countries authorities did not act until the situation became critical, and this needed to change.<br/><br/>
								"We wait until crisis, wait until people are on the streets or are literally homeless," he told the ABC.<br/><br/>
								</p>
								<ul class="list-inline">
									<li>08/08/2019</li>
									<li>By Patrick Wood</li>
									<li>Category: Homeless</li>
								</ul>
								<button class="btn btn-primary" data-dismiss="modal" type="button">
									<i class="fas fa-times"></i>
									Close News</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include partials/footer %>